<div class="AknAssetCollectionField" style="border-bottom:0">
	<div class="AknAssetCollectionField-header AknButtonList AknButtonList--right">
		<span id="DocgaField-<%= id %>.select" class="AknButtonList-item AknIconButton AknIconButton--grey add-file" title="<%- _.__('docga.field.select_file') %>"><i class="icon icon-file"></i></span>
	</div>

	<% _.each(assets, function(asset){ %>
	<div id="DocgaField-<%= asset.slug %>" class="AknMediaField has-file" style="border-bottom: 1px solid #ccd1d8">
		<div class="AknMediaField-preview preview">

			<div class="AknMediaField-thumb DocgaField-thumb file"><img class="AknMediaField-image DocgaField-image" src="<%= asset.thumbnail %>" title="<%= asset.title %>"></div>

			<div class="AknMediaField-info info">
				<div class="filename"><%= asset.title %></div>
				<div class="AknButtonList AknButtonList--centered actions">
					<a href="<%= asset.downloadfile%>" target="_blank" class="AknButtonList-item AknIconButton AknIconButton--grey" title="<%- _.__('docga.field.download_file') %>"><i class="icon icon-cloud-download"></i></a>
					<span id="DocgaField-<%= asset.slug %>.remove" class="AknButtonList-item AknIconButton AknIconButton--grey remove-file clear-field" title="<%- _.__('docga.field.remove_file') %>"><i class="icon icon-trash"></i>
				</div>
			</div>
		</div>
	</div>
	<% }); %>
</div>
